<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos o JubaoFe. Nós organizamos, informamos e apoiamos o crescimento do Rally, principalmente em Goiânia e região. Em nosso site temos inscrições para nosso rallys, galeria de fotos, notícias atualizadas, calendário geral com datas de diversos eventos no ano. Além de promovermos o PoeiraCast nosso podcast sobre esse esporte maravilhoso no Youtube">
    <meta name="keywords" content="Rally, Rally do jubão, Inscrições Rallys, Calendário Rallys, Fotos Rallys">

    <script src="https://kit.fontawesome.com/3954e72066.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/imagens/desktop/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/albums.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Rally Do JubãoFe | Galeria de Fotos</title>
</head>
<body>
    <header>
        <section class="mobile-header">
            <img src="/imagens/mobile/menu-hamburguer.png" alt="Ícone Menu Hamburguer" class="menu-hamburguer">
            <a href="/" rel="prev" target="_self">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
            </a>
        </section>
        <nav>
            <section class="desktop-logo-container">
                <a href="/">
                    <img src="/imagens/desktop/jubao-logo.png" alt="Logo JubãoFe Autoclube">
                </a>
            </section>
            <ul class="pages-list">
                <li>
                    <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                </li>
                <li>
                    <a href="/portal-noticias" id="link-news">Notícias</a>
                </li>
                <li>
                    <a href="#" rel="next" target="_self">Galeria de Fotos</a>
                </li>
                <li>
                    <a href="/calendario" rel="next" target="_self">Calendário</a>
                </li>
                <li>
                    <a href="/quem-somos" rel="next" target="_self">Quem Somos</a>
                </li>
                <section class="associations-container">
                    <img src="/imagens/mobile/faugo-logo.png" alt="Logo da FAUGO" class="logo-faugo">
                    <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
                    <img src="/imagens/mobile/cba.png" alt="Logo da CBA" class="logo-cba">
                </section>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                        <img src="/imagens/desktop/instagram-logo.png" alt="Logo dos Instagram">
                    </a>
                </li>
                <li>
                    <a href="mailto:jubaofe@gmail.com" rel="external" target="_blank">
                        <img src="/imagens/desktop/email-logo.png" alt="Logo do Email">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                        <img src="/imagens/desktop/youtube-logo.png" alt="Logo do Youtube">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="background-container">
        <div class="low-fade">

        </div>
        <div class="high-fade">
            <h1>Galeria de <br> fotos</h1>
            <p>
                Aqui em nossa galeria, você encontrará momentos incríveis registrados nos eventos de Rally do JubaoFe Autoclube. Cada foto conta uma história de paixão por velocidade, aventura e camaradagem. Explore as curvas sinuosas, saltos emocionantes e a poeira que envolve cada rali, capturados em imagens que transmitem a intensidade e a emoção desse esporte emocionante.
            </p>

            <p class="additional-info">
                Viaje conosco por uma jornada visual que atravessa competições, pilotos destemidos e paisagens deslumbrantes que servem como cenário para esses eventos empolgantes. Cada clique é um testemunho da dedicação de nossa comunidade apaixonada pelo automobilismo.
            </p>

            <p class="additional-info">
                Convidamos você a mergulhar em nossa galeria, onde a poesia da velocidade e a camaradagem se entrelaçam, transformando cada imagem em uma narrativa única. Seja parte dessa emocionante história visual do JubaoFe Autoclube. Venha explorar e reviver os momentos que tornam o Rally uma experiência inesquecível.
            </p>
        </div>
    </section>

    <main>
        <section class="albums-container">
            <div id="2024" class="album"></div>
            <div id="2023" class="album"></div>
            <div id="2022" class="album"></div>
            <div id="2021" class="album"></div>
            <div id="2020" class="album"></div>
            <div id="2019" class="album"></div>
            <div id="2018" class="album"></div>
            <div id="2017" class="album"></div>
            <div id="2016" class="album"></div>
            <div id="2015" class="album"></div>
            <div id="2014" class="album"></div>
            <div id="2013" class="album"></div>
            <div id="2012" class="album"></div>
            <div id="2011" class="album"></div>
            <div id="2010" class="album"></div>
            <div id="2009" class="album"></div>
        </section>
    </main>

    <footer>
        <section class="desktop-footer">
            <section class="logo-container">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube">
            </section>
            <section class="contact-footer-container">
                <h1>INFORMAÇÕES DE CONTATO:</h1>
                <section class="info-contato">
                    <p>
                        TELEFONE: (62) 9 9133-6479 <br>
                        CONTATO: jubaofe@gmail.com <br>
                        INSTAGRAM: @rallydojubao
                    </p>
                </section>
            </section>
            <section class="mobile-terms-container">
                <h1>Termos de Uso e Política de privacidade</h1>
                <ul>
                    <li>
                        <a href="/termos" rel="next" target="_self">Termos de Uso</a>
                    </li>
                    <li>
                        <a href="/politica-privacidade" rel="next" target="_self">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="/login" rel="next" target="_self">Administração</a>
                    </li>
                </ul>
            </section>
            <section class="accesses-footer-container">
                <h1>OUTROS ACESSOS:</h1>
                <ul>
                    <li>
                        <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                    </li>
                    <li>
                        <a href="/portal-noticias" rel="next" target="_self">Notícias</a>
                    </li>
                    <li>
                        <a href="#">Galeria de Fotos</a>
                    </li>
                    <li>
                        <a href="/calendario" rel="next" target="_self">Calendário</a>
                    </li>
                    <li>
                        <a href="/quem-somos" rel="next" target="_self">Quem Somos</a>
                    </li>
                    <li>
                        <a href="/termos" rel="next" target="_self">Termos de uso</a>
                    </li>
                    <li>
                        <a href="/politica-privacidade" rel="next" target="_self">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="/login" rel="next" target="_self">Administração</a>
                    </li>
                </ul>
            </section>
            <section class="social-footer-container">
                <h1>SIGA NOS:</h1>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                            <img src="/imagens/mobile/youtube-logo.png" alt="Ícone do Youtube">
                            <span>Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:jubaofe@gmail.com">
                            <img src="/imagens/mobile/email-logo.png" alt="Ícone do Email">
                            <span>jubaofe@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                            <img src="/imagens/mobile/instagram-logo.png" alt="Ícone do Instagram">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="associations-footer">
                <img src="/imagens/desktop/cba.png" alt="Logo CBA">
                <img src="/imagens/desktop/faugo-logo.png" alt="Logo FAUGO">
            </section>
        </section>
        <p class="copy">
            &copy; JubãoFe Autoclube Todos os Direitos Reservados <br>
            Desenvolvido por <a href="https://davibcavalcante.github.io/my-profile" rel="external" target="_blank">Indigital</a>
        </p>
    </footer>

    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/albums.js"></script>
</body>
</html>