<!DOCTYPE html>
<html>
  <head>
    <title>Inscreva-se</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Faça sua inscrição</h1>
    <form method="POST" enctype="application/x-www-form-urlencoded" name="EmailForm">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="ContactCommentt">Message:</label><br>
      <textarea id="ContactComment" name="ContactComment" rows="6″ cols="20"></textarea>
      <input type="submit" value="Send">
      </form>
  </body>
</html>
