<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos o JubaoFe. Nós organizamos, informamos e apoiamos o crescimento do Rally, principalmente em Goiânia e região. Em nosso site temos inscrições para nosso rallys, galeria de fotos, notícias atualizadas, calendário geral com datas de diversos eventos no ano. Além de promovermos o PoeiraCast nosso podcast sobre esse esporte maravilhoso no Youtube">
    <meta name="keywords" content="Rally, Rally do jubão, Inscrições Rallys, Calendário Rallys, Fotos Rallys">
    
    <script src="https://kit.fontawesome.com/3954e72066.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/imagens/desktop/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/quem-somos.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    
    <title>Rally do JubãoFe | Quem Somos</title>
</head>
<body>
    <header>
        <section class="mobile-header">
            <img src="/imagens/mobile/menu-hamburguer.png" alt="Ícone Menu Hamburguer" class="menu-hamburguer">
            <a href="/" rel="prev" target="_self">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
            </a>
        </section>
        <nav>
            <section class="desktop-logo-container">
                <a href="/">
                    <img src="/imagens/desktop/jubao-logo.png" alt="Logo JubãoFe Autoclube">
                </a>
            </section>
            <ul class="pages-list">
                <li>
                    <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                </li>
                <li>
                    <a href="/portal-noticias" rel="next" target="_self">Notícias</a>
                </li>
                <li>
                    <a href="/albums" rel="next" target="_self">Galeria de Fotos</a>
                </li>
                <li>
                    <a href="/calendario" rel="next" target="_self">Calendário</a>
                </li>
                <li>
                    <a href="#" rel="next" target="_self">Quem Somos</a>
                </li>
                <li>
                    <a href="/downloads" rel="next" target="_self">Downloads</a>
                </li>
                <section class="associations-container">
                    <img src="/imagens/mobile/faugo-logo.png" alt="Logo da FAUGO" class="logo-faugo">
                    <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
                    <img src="/imagens/mobile/cba.png" alt="Logo da CBA" class="logo-cba">
                </section>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                        <img src="/imagens/desktop/instagram-logo.png" alt="Logo dos Instagram">
                    </a>
                </li>
                <li>
                    <a href="mailto:jubaofe@gmail.com" rel="external" target="_blank">
                        <img src="/imagens/desktop/email-logo.png" alt="Logo do Email">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                        <img src="/imagens/desktop/youtube-logo.png" alt="Logo do Youtube">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="background-container">
        <div class="low-fade">
            
        </div>
        <div class="high-fade">
            <h1>JUBAOFE <br> AUTOCLUBE</h1>
            <p>
                O JUBÃOFE busca não apenas o sucesso esportivo, mas também a integração, solidariedade, a comunidade e o acesso de todos que compartilham a paixão por esportes, corridas, aventuras e off-road.
            </p>

            <p class="desktop-info">                
                Somos uma organização em constante crescimento ao longo dos anos, onde a alegria, respeito e solidariedade são fundamentais. É um espaço de encontro e união para uma comunidade apaixonada por aventuras.
            </p>
        </div>
    </section>

    <main>
        <section class="topics-container">
            <section class="mission-container">
                <div class="image-container">
                    <img src="/imagens/mobile/quem-somos-missao.jpg" alt="#">
                </div>
                <div class="text-container">
                    <h1>Missão:</h1>
                    <p>
                        Desenvolver, promover e estimular a prática de esportes automobilísticos, motociclísticos, ciclísticos e náuticos, formando novos competidores.
                    </p>
                    <p>
                        Proporcionar a pilotos e navegadores condições de ser destaque no cenário nacional por meio de competições de alto nível técnico.
                        Manter um ambiente de convivência solidaria, recreativa e sociocultural. 
                    </p>
                </div>
            </section>
            <section class="values-container">
                <div class="image-container">
                    <img src="/imagens/mobile/quem-somos-valores.jpg" alt="#">
                </div>
                <div class="text-container">
                    <h1>Valores:</h1>
                    <p>
                        Solidariedade: Promover a prática de convívio entre os participantes criando uma comunidade unida e colaborativa
                    </p>
                    <p>
                        Diversidade: Explorar os caminhos alternativos que levam a cidades brasileiras, conhecendo a riqueza e variedade de nosso meio ambiente.
                    </p>
                    <p>
                        Comunidade: Incluir a sociedade no esporte, tornando os viáveis financeiramente para um público amplo.
                    </p>
                    <p>
                        Respeito: Aos indivíduos, às leis, a cooperação com entidades públicas e privadas, e o desenvolvimento sustentável em suas atividades.
                    </p>
                </div>
            </section>
            <section class="vision-container">
                <div class="image-container">
                    <img src="/imagens/mobile/quem-somos-visao.jpg" alt="#">
                </div>
                <div class="text-container">
                    <h1>Visão:</h1>
                    <p>
                        O JUBÃOFE aspira a ser reconhecido como líder na promoção e desenvolvimento desses esportes, com o objetivo de expandir suas atividades além do Brasil, sempre respeitando as leis e normas vigentes.
                    </p>
                </div>
            </section>
        </section>

        <aside>
            <section class="genese-jubao-container">
                <h1>Gênese do JubãoFE</h1>
                <section class="topic-container">
                    <h1>2008 - O Início</h1>
                    <section class="text-image-container">
                        <p>Depois de uma caça ao tesouro realizado com a Juventude Batista em Vila Galvão (JUBÃO), misturado com um super prime realizado pelo maior rally do País, surge em nossos corações o desejo de fazer algo com a junção das ideias que glorificasse a Deus, levando as pessoas a um contato pessoal com a palavra e o amor de Deus, de forma dinâmica e aventureira;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2009 - Jesus é o Caminho</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2009.jpg" alt="">
                        <p>Organizamos a 1ª edição do Rally do JubãoFE – com o tema Jesus é o Caminho, tivemos a participação de 07 carros com cerca de 35 pessoas ouvindo a palavra de Deus e realizando atividades que os levaram a lembrança do sacrifício de Cristo por nossa salvação, no percurso de 20 quilômetros, de Vila Galvão até Senador Canedo retornando a Vila Galvão;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2010 - Por Cristo até os Confins da Terra</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2010.jpg" alt="">
                        <p>Com o tema Por Cristo até os Confins da Terra no dia 03/06/2010 novamente, um feriado de Corpus Christi, foi realizado nosso 2º Rally do JubãoFE com 07 carros e aproximadamente 28 pessoas, percorremos no total 28 quilômetros de Vila Galvão, passando por Senador Canedo chegando ao bairro Jardim das Oliveiras;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2011 - Levar Salvação a Todos</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2011.jpg" alt="">
                        <p>DNa nossa 3ª edição do Rally do JubãoFE, rompemos as fronteiras com o objetivo de Levar Salvação a Todos. Largamos da Igreja Batista em Vila Galvão, passamos por Senador Canedo, Caldazinha e nossa chegada foi no município de Bonfinópolis, juntamente com nosso recorde de distância percorrida tivemos o maior número de participantes, com 40 pessoas e cerca de 10 carros;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2012 – Cristo é Paz que Liberta</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2012.jpg" alt="">
                        <p>A 4ª edição do Rally do JubãoFE, teve o nome alterado para Passeio Planilha do JubãoFE, levando em conta que a apuração não era feita via satélite e sim manual até então, mostramos a todos que Cristo é a Paz que Liberta. Percorremos mais de 100 quilômetros com 13 carros, 40 participantes e equipe técnica de mais de 20 pessoas. Neste evento implementamos com rigor as doações de alimentos e gêneros de utilidade aos Ministérios Pão e Vida e Águas de Meribá;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2013 – Testemunhando as Nações</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2013.jpg" alt="">
                        <p>A edição comemorativa de 5 Anos, mais uma vez bate recordes. Testemunhando as Nações, falamos do amor de Deus para mais de 60 participantes em 17 carros em um percurso de mais de 113 quilômetros, saindo da Igreja Batista em Vila Galvão, passamos por Senador Canedo, Caldazinha, ParaPedro, Bonfinópolis e encerramos nosso evento na cidade de Goianápolis na Primeira Igreja Batista. Esta edição contou com apuração TOTEM, oficializando o nome Rally do JubãoFE;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2014 – Em Campo com Cristo pelas Nações</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2014.jpg" alt="">
                        <p>A 6ª edição do Rally do JubãoFE consolida-se no calendário de provas do Estado, trazendo participantes de diversas cidades, com destino a Goianápolis percorremos 130 quilômetros com 18 carros em 4 categorias, que Entraram em Campo com Cristo pelas Nações, esta prova até então foi a mais técnica, a entrega de donativos superou a marca de 500 quilos;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2015 - Meu Chamado, Voz e Deus as Nações</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2015.jpg" alt="">
                        <p>Com a participação de competidores dos Campeonatos Brasileiro e Copa Centro-Oeste podemos demonstrar amor ao próximo através do Meu Chamado Voz de Deus as Nações, percorremos 180 quilômetros, entregamos mais 700 quilos de alimentos e diversas doações, esta prova contou com um nível técnico diferenciado exigido pela alta performance técnica dos 18 veículos e mais de 60 participantes;</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2016 – Levar Esperança</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2016.jpg" alt="">
                        <p>Diante de uma grave crise financeira instalada no país realizamos a nossa 8ª edição em data diferente ao feriado de Corpus Christi, saímos no dia 12 de outubro para Levar Esperança. Passamos por Senador Canedo, Bonfinópolis, Leopoldo de Bulhões. Percorridos 190 quilômetros os 16 carros com seus mais de 50 participantes e com 30 pessoas integrando a maior equipe técnica, fechamos nossa aventura na cidade de Silvânia.</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2022 - O recomeço</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2022.jpg" alt="">
                        <p>Após 06 anos retomamos a realização dos eventos JUBÃO Fora de Estrada, com uma nova diretoria e sob novos olhares e com desejo cada vez maior de ajudar o próximo através de aventura e união de todos realizamos o 9º Rally do Jubão – edição natal 2023 – este evento marca a filiação do clube a nova FAUGO, contamos com 21 carros inscritos e lotados por suas famílias e amigos. Entregamos sextas, donativos e usufruímos de bons momentos nas casas de recuperação para dependentes químico, Pão e Vida e Águas de Meriba. Em um trajeto de 75 km, e com mais de 110 PC´s concluímos a prova com muitas lagrimas e agradecimentos.</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2023 – A Solução é Jesus Cristo</h1>
                    <section class="text-image-container">
                        <img src="/imagens/mobile/genese-jubao-2023.jpg" alt="">
                        <p>Avançamos na missão de formar novos competidores, formatando a primeira Copa Rally da Solidariedade, iniciando na cidade de Silvâna no 5º União de Amigos da APAE realizamos 04 provas ao longo do ano com o destaque do 1º Rally das Crianças, firmando grandes parcerias para realização de provas e suporte aos inscritos.</p>
                    </section>
                </section>

                <section class="topic-container">
                    <h1>2024 – Vamos completar a Missão</h1>
                    <section class="text-image-container">
                        <p>Estamos ansiosos para a próxima década de aventura e fé. Junte-se a nós no próximo Rally do JubãoFE e faça parte da nossa história.</p>
                    </section>
                </section>
            </section>
        </aside>

    </main>

    <footer>
        <section class="desktop-footer">
            <section class="logo-container">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube">
            </section>
            <section class="contact-footer-container">
                <h1>INFORMAÇÕES DE CONTATO:</h1>
                <section class="info-contato">
                    <p>
                        TELEFONE: (62) 9 9133-6479 <br>
                        CONTATO: jubaofe@gmail.com <br>
                        INSTAGRAM: @rallydojubao
                    </p>
                </section>
            </section>
            <section class="mobile-terms-container">
                <h1>Termos de Uso e Política de privacidade</h1>
                <ul>
                    <li>
                        <a href="/termos" rel="next" target="_self">Termos de Uso</a>
                    </li>
                    <li>
                        <a href="/politica-privacidade" rel="next" target="_self">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="/login" rel="next" target="_self">Administração</a>
                    </li>
                </ul>
            </section>
            <section class="accesses-footer-container">
                <h1>OUTROS ACESSOS:</h1>
                <ul>
                    <li>
                        <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                    </li>
                    <li>
                        <a href="/portal-noticias" rel="next" target="_self">Notícias</a>
                    </li>
                    <li>
                        <a href="/albums" rel="next" target="_self">Galeria de Fotos</a>
                    </li>
                    <li>
                        <a href="/calendario" rel="next" target="_self">Calendário</a>
                    </li>
                    <li>
                        <a href="#">Quem Somos</a>
                    </li>
                    <li>
                        <a href="/termos" rel="next" target="_self">Termos de uso</a>
                    </li>
                    <li>
                        <a href="/politica-privacidade" rel="next" target="_self">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="/login" rel="next" target="_self">Administração</a>
                    </li>
                    <li>
                        <a href="/downloads" rel="next" target="_self">Downloads</a>
                    </li>
                </ul>
            </section>
            <section class="social-footer-container">
                <h1>SIGA NOS:</h1>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                            <img src="/imagens/mobile/youtube-logo.png" alt="Ícone do Youtube">
                            <span>Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:jubaofe@gmail.com">
                            <img src="/imagens/mobile/email-logo.png" alt="Ícone do Email">
                            <span>jubaofe@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                            <img src="/imagens/mobile/instagram-logo.png" alt="Ícone do Instagram">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="associations-footer">
                <img src="/imagens/desktop/cba.png" alt="Logo CBA">
                <img src="/imagens/desktop/faugo-logo.png" alt="Logo FAUGO">
            </section>
        </section>
        <p class="copy">
            &copy; JubãoFe Autoclube Todos os Direitos Reservados <br>
            Desenvolvido por <a href="https://davibcavalcante.github.io/my-profile" rel="external" target="_blank">Indigital</a>
        </p>
    </footer>


    <script src="/javascripts/menu.js"></script>
</body>
</html>