<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/3954e72066.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/quem-somos.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Quem somos</title>
</head>
<body>
    <header>
        <section class="mobile-header">
            <img src="/imagens/mobile/menu-hamburguer.png" alt="Ícone Menu Hamburguer" class="menu-hamburguer">
            <a href="/">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
            </a>
        </section>
        <nav>
            <section class="desktop-logo-container">
                <a href="/">
                    <img src="/imagens/desktop/jubao-logo.png" alt="Logo JubãoFe Autoclube">
                </a>
            </section>
            <ul class="pages-list">
                <li>
                    <a href="/inscricao" rel="next" target="_self">Inscrições</a>
                </li>
                <li>
                    <a href="/news">Notícias</a>
                </li>
                <li>
                    <a href="/fotos" rel="next" target="_self">Galeria de Fotos</a>
                </li>
                <li>
                    <a href="#" rel="next" target="_self">Quem Somos</a>
                </li>
                <section class="associations-container">
                    <img src="/imagens/mobile/faugo-logo.png" alt="Logo da FAUGO" class="logo-faugo">
                    <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube" class="logo-jubao">
                    <img src="/imagens/mobile/cba.png" alt="Logo da CBA" class="logo-cba">
                </section>
            </ul>
            <ul class="social-list">
                <li>
                    <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                        <img src="/imagens/desktop/instagram-logo.png" alt="Logo dos Instagram">
                    </a>
                </li>
                <li>
                    <a href="#" rel="external" target="_blank">
                        <img src="/imagens/desktop/email-logo.png" alt="Logo do Email">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                        <img src="/imagens/desktop/youtube-logo.png" alt="Logo do Youtube">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <article>
        <section class="background-container">
            <div class="low-fade">
                
            </div>
            <div class="high-fade">
                <h1>JUBAOFE <br> AUTOCLUBE</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatibus voluptatum repellendus, ipsa obcaecati tenetur nam laudantium quis totam illum animi magnam rerum? Explicabo soluta saepe, aliquid distinctio officiis omnis?
                </p>

                <p class="desktop-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sint magnam, placeat culpa, illo animi eligendi perferendis aspernatur quidem soluta voluptate quisquam explicabo iste et suscipit accusamus, commodi ea voluptas.
                </p>
            </div>
        </section>

        <section class="topics-container">
            <section class="structure-container">
                <div class="image-container">
                    <img src="/imagens/mobile/quem-somos-bg.jpg" alt="#">
                </div>

                <div class="text-container">
                    <h1>Estrutura</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis optio, accusamus repudiandae in illum debitis ex nam vel atque, quo temporibus. Corrupti aspernatur commodi adipisci nemo vitae reprehenderit eaque?
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis optio, accusamus repudiandae in illum debitis ex nam vel atque, quo temporibus. Corrupti aspernatur commodi adipisci nemo vitae reprehenderit eaque?
                    </p>
                </div>
            </section>

            <section class="collaborators-container">
                <div class="image-container">
                    <img src="/imagens/mobile/quem-somos-bg.jpg" alt="#">
                </div>

                <div class="text-container">
                    <h1>Colaboradores</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis optio, accusamus repudiandae in illum debitis ex nam vel atque, quo temporibus. Corrupti aspernatur commodi adipisci nemo vitae reprehenderit eaque?
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis optio, accusamus repudiandae in illum debitis ex nam vel atque, quo temporibus. Corrupti aspernatur commodi adipisci nemo vitae reprehenderit eaque?
                    </p>
                </div>
            </section>

            <section class="values-container">
                <div class="image-container">
                    <img src="/imagens/mobile/quem-somos-bg.jpg" alt="#">
                </div>

                <div class="text-container">
                    <h1>Valores</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis optio, accusamus repudiandae in illum debitis ex nam vel atque, quo temporibus. Corrupti aspernatur commodi adipisci nemo vitae reprehenderit eaque?
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum veritatis optio, accusamus repudiandae in illum debitis ex nam vel atque, quo temporibus. Corrupti aspernatur commodi adipisci nemo vitae reprehenderit eaque?
                    </p>
                </div>
            </section>
        </section>
    </article>

    <footer>
        <section class="desktop-footer">
            <section class="logo-container">
                <img src="/imagens/mobile/jubao-logo.png" alt="Logo JubãoFe Autoclube">
            </section>
            <section class="contato-container">
                <h1>INFORMAÇÕES DE CONTATO:</h1>
                <section class="info-contato">
                    <p>
                        TELEFONE: 21 2221-4895 <br>
                        OUVIDORIA: ouvidoria@jubaofe.org.br <br>
                        SALA DE IMPRENSA: comunicacao@jubaofe.org.br <br>
                        MARKETING: marketing@cba.org.br
                    </p>
                </section>
            </section>
            <section class="acessos-container">
                <h1>OUTROS ACESSOS:</h1>
                <ul>
                    <li>
                        <a href="/inscricao">Inscrições</a>
                    </li>
                    <li>
                        <a href="/fotos">Galeria de Fotos</a>
                    </li>
                    <li>
                        <a href="#">Quem Somos</a>
                    </li>
                    <li>
                        <a href="/news">Notícias</a>
                    </li>
                </ul>
            </section>
            <section class="redes-container">
                <h1>SIGA NOS:</h1>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/@JubaoFe" rel="external" target="_blank">
                            <img src="/imagens/mobile/youtube-logo.png" alt="Ícone do Youtube">
                            <span>Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/imagens/mobile/email-logo.png" alt="Ícone do Email">
                            <span>jubaocontato@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rallydojubao/" rel="external" target="_blank">
                            <img src="/imagens/mobile/instagram-logo.png" alt="Ícone do Instagram">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="associations-footer">
                <img src="/imagens/desktop/cba.png" alt="Logo CBA">
                <img src="/imagens/desktop/faugo-logo.png" alt="Logo FAUGO">
            </section>
        </section>
        <p class="copy">
            &copy; JubãoFe Autoclube Todos os Direitos Reservados
        </p>
    </footer>


    <script src="/javascripts/menu.js"></script>
</body>
</html>