footer {
    color: white;
    background-color: var(--main-color);
    font-family: var(--alternative-font);
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid white;
}

.contact-footer-container, .mobile-terms-container {
    text-align: center;
    margin-top: 10px;
}

.contact-footer-container h1, .mobile-terms-container h1 {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-footer-container p {
    color: white;
    font-size: .8em;
    font-weight: 300;
    text-transform: uppercase;
}

.mobile-terms-container a {
    color: white;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

.accesses-footer-container {
    display: none;
}

.social-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-top: 20px;
    padding: 0 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 50px;
}

.social-footer-container h1 {
    font-weight: 300;
}

.social-footer-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-footer-container img {
    width: 30px;
}

.social-footer-container span {
    display: none;
}

.social-footer-container li {
    height: 30px;
}

.associations-footer {
    display: none;
}

.copy {
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    border-top: 1px solid white;
    padding: 3px 0;
}

.copy a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

@media screen and (min-width: 992px) {
    .mobile-terms-container, .logo-container {
        display: none;
    }

    .desktop-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        padding: 15px 0;
    }

    .desktop-footer h1 {
        font-size: 1.5em;
    }

    .contact-footer-container {
        text-align: left;
        align-self: flex-start;
        width: 25%;
    }

    .accesses-footer-container {
        display: block;
        align-self: flex-start;
        margin-top: 10px;
        width: 35%;
    }

    .accesses-footer-container h1 {
        font-weight: 300;
        margin-bottom: 10px;
    }

    .accesses-footer-container ul {
        list-style-type: none;
        columns: 2;
    }

    .accesses-footer-container a {
        color: white; 
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        font-weight: 300;
    }

    .social-footer-container {
        display: block;
        border: none;
        align-self: flex-start;
        margin-top: 10px;
        width: 20%;
    }

    .social-footer-container ul {
        flex-direction: column;
        align-items: start;
        margin-top: 10px;
    }

    .social-footer-container span {
        display: block;
        font-size: .8em;
        text-transform: uppercase;
    }

    .social-footer-container a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .social-footer-container a:hover, .acessos-container a:hover {
        text-decoration: underline;
    } 
}

@media screen and (min-width: 1200px) {
    .contact-footer-container {
        width: 20%;
    }

    .accesses-footer-container {
        width: 30%;
    }

    .social-footer-container {
        width: 15%;
    }

    .logo-container {
        display: block;
        border: none;
        width: 10%;
    }

    .logo-container img, .associations-footer img {
        width: 100%;
    }

    .associations-footer {
        width: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
    }
}