@font-face {
    font-family: 'IntroHead';
    src: url(../fonts/IntroRustG-Base2Line.otf) format(opentype);
    font-weight: normal;
}

:root {
    --background-color: #ffe8c6;
    --main-color: #f25c05;
    --main-color-low-fade: #f25c055b;
    --main-color-high-fade: #f25c05c9;
    --alternative-color: #140703;
    --header-color: #FF945E;
    --news-bg-color: #a5a5a5;
    --form-bg-color: #1c0a03;
    --main-font: 'Montserrat';
    --alternative-font: 'Poppins';
    --title-font: 'IntroHead';
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden, .additional-info {
    display: none;
}

body {
    background-color: var(--background-color);
}

.light-text {
    font-weight: 300;
}

/**/

.background-container {
    background: var(--background-color) url(../imagens/mobile/gallery-bg.jpg) no-repeat center center;
    background-size: cover;
}

.low-fade {
    background-color: var(--main-color-low-fade);
    min-height: 150px;
}

.high-fade {
    color: white;
    background-color: var(--main-color-high-fade);
    height: auto;
    min-height: 150px;
    padding: 5px;
}

.high-fade h1 {
    font: normal 2em var(--title-font), sans-serif;
}

.high-fade p {
    font: normal .8em var(--main-font), sans-serif;
    text-align: justify;
    hyphens: auto;
    margin-top: 10px;
}

main {
    background: var(--background-color) url(../imagens/mobile/news-bg.jpg) no-repeat fixed center center;
    background-size: cover;
}

.album {
    width: 90vw;
    height: auto;
    max-width: 500px;
    margin: 15px auto;

    position: relative;
}

.album img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-container {
    background-color: var(--main-color-high-fade);
    position: absolute;
    padding: 5px 10px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info-container h1 {
    color: white;
    font: normal 1.5em var(--main-font), sans-serif;
}

@media screen and (min-width: 992px) {
    header {
        background-color: var(--main-color);
    }
    
    .additional-info {
        display: block;
    }

    .background-container {
        background-image: url(../imagens/desktop/gallery-bg.jpg);
        display: flex;
        min-height: 400px;
    }

    .low-fade {
        min-width: 60%;
        min-height: 0;
    }

    .high-fade {
        min-width: 40%;
        min-height: 0;
        padding: 10px 15px;
    }

    .high-fade h1 {
        font-size: 2.5em;
    }

    .high-fade p {
        font-size: 1em;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .albums-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        max-width: 1200px;
        margin: 20px;
        flex: 1;
    }

    .album {
        width: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        margin: 0;
        cursor: pointer;
        transition: .5s;
    }

    .album:hover {
        transform: scale(1.02) translate(-5px, -10px);
    }
}