header {
    background-image: linear-gradient(to right, var(--alternative-color) 10%, var(--main-color));
    padding: 15px 20px;
    position: relative;
    z-index: 10;
}

.mobile-header {
    display: flex;
    align-items: center;
}

.mobile-header .menu-hamburguer {
    width: 30px;
    height: 30px;
}

.mobile-header a {
    display: block;
    margin: auto;
}

.mobile-header > a > img {
    width: 180px;
}

.social-list, .background-desktop-header, .desktop-logo-container {
    display: none;
}

.pages-list {
    color: white;
    background-image: linear-gradient(to right, var(--alternative-color) 10%, var(--main-color));
    font: 300 1em var(--alternative-font);

    width: 100%;
    padding: 0 10px;

    list-style-type: none;
    position: absolute;
    top: 100%;
    left: -100%;
    z-index: 6;
    transition: .5s;
}

.pages-list.active {
    left: 0;
}

.pages-list a {
    color: white;
    text-decoration: none;
}

.pages-list li {
    margin: 15px 0;
    border: 1px solid white;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 10px;
}

.associations-container {
    background-image: linear-gradient(to right, var(--alternative-color) 10%, var(--main-color));
    width: 100%;
    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% - 1px));
}

.associations-container .logo-jubao {
    width: 130px;
}

.associations-container .logo-faugo {
    width: 80px;
}

.associations-container .logo-cba {
    width: 50px;
}

.warning-message-container {
    color: white;
    background-color: var(--main-color);

    padding: 5px 10px;
}

.warning-message-container p {
    font: 300 1.2em var(--main-font);
    hyphens: auto;
    line-height: 1.3em;
}

@media screen and (min-width: 1200px) {
    header nav {
        justify-content: space-evenly !important;
    }

    .social-list {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .social-list img {
        transition: .5s;
    }

    .social-list img:hover {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 992px) {
    header {
        background-color: var(--main-color);
        background-image: none;
    }

    .mobile-header, .associations-container {
        display: none;
    }

    .desktop-logo-container {
        display: block;
    }

    .desktop-logo-container img {
        width: 200px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pages-list {
        background-image: none;
        position: static;
        width: fit-content;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .pages-list li {
        border: none;
        font-size: 1.2em;
    }

    .pages-list a:hover {
        text-decoration: underline;
    }

    .warning-message-container {
        padding: 5px 20px;
    }
}