@font-face {
    font-family: 'IntroHead';
    src: url(../fonts/IntroRustG-Base2Line.otf) format(opentype);
    font-weight: normal;
}

:root {
    --background-color: #ff945e;
    --main-color: #f25c05;
    --alternative-color: #140703;

    --header-color: #FF945E;
    --dull-color: #a5a5a5;
    --sponsorship-color: #F5F5F5;
    --form-bg-color: #1c0a03;

    --main-font: 'Montserrat', sans-serif;
    --alternative-font: 'Poppins', sans-serif;
    --title-font: 'IntroHead', sans-serif;
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
}

.light-text {
    font-weight: 300;
}

#news-iframe {
    width: 100%;
    height: auto;
    min-height: 800px;
    margin: 10px 0;
}

.loading-animation {
    width: 70px;
    height: 70px;
    margin: 20px 0;

    border: 10px solid white;
    border-top: 10px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-animation.active {
    animation: loading .7s infinite linear;
}

@keyframes loading {
    to {
        transform: translate(-50%, -50%) rotate(1turn);
    } 
}

/* CONFIGURAÇÕES DAS NOVIDADES DO JUBÃO */

.banner-container {
    position: relative;
}

.banner-container img {
    width: 100%;
    display: flex;
}

.info-banner-container {
    color: white;
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-container .info-main {
    font: bold 3.5vw var(--main-font);
    text-align: center;
}

.text-container .info-alternative {
    font: bold 2.5vw var(--main-font);
    text-align: center;
    font-weight: normal;
    letter-spacing: .4em;
    margin-top: 5px;
}

.buttons-container {
    width: 48vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container a {
    color: white;
    background-color: rgba(172, 149, 149, 0.274);
    font: normal .8em var(--alternative-font);
    text-decoration: none;
    text-align: center;

    width: 48.5%;
    height: 20px;
    border: 1px solid white;
    border-radius: 4px;
}

/* COONFIGURAÇÕES DO PODCAST*/

.poeiracast-container {
    background-image: linear-gradient(to right, var(--alternative-color) 10%, var(--main-color));
    padding-bottom: 30px;
    overflow-x: hidden;
}

.poeiracast-container p {
    color: var(--dull-color);
    font: normal 1em var(--main-font);
    margin-left: 10px;
}

.poeiracast-container p::after {
    content:  ' -';
    color: white;
}

.assista-poeiracast {
    width: 40%;
    max-width: 200px;
    display: block;
    margin: auto;
}

.assista-poeiracast img {
    width: 100%;
    display: block;
    margin: auto;
}

.position-relative-container {
    height: auto;
    min-height: 240px;
    
    display: flex;
    justify-content: center;
    position: relative;
}

.video-container {
    margin: auto;
    width: 85%;
    margin: 20px 0;
    position: relative;
    overflow-x: hidden;
}

.slide-video-container {
    width: 100%;
    margin: auto;
    display: flex;
    transition: .5s;
}

.poeiracast-video-container {
    position: relative;
    min-width: 100%;
}

.poeiracast-video-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.info-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.info-container h1 {
    color: white;
    font: normal 1.2em var(--main-font);
}

.info-container button {
    color: white;
    background-color: transparent;
    font-size: 1.2em;
    border: none;
}

.div {
    width: 100vw;
    height: 1px;
    background-color: var(--dull-color);
}

.nav-video-buttons-container {
    display: flex;
}

.nav-video-buttons-container button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev-video-btn {
    left: 5px;
}

.next-video-btn {
    right: 5px;
}

/* CONFIGURAÇÕES DAS NOTÍCIAS */

.news-container {
    color: white;
    background: var(--background-color) url(../imagens/mobile/pattern-bg.jpg) repeat-y fixed center center;
    padding: 10px 20px;

    position: relative;
    z-index: 1;
}

.gradient-background {
    background-image: linear-gradient(to right, var(--alternative-color) 10%, var(--main-color));
    width: 100vw;
    height: 10%;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: -1;
}

.title-container > h1 {
    font: bold 1.3em var(--main-font);
}

.news {
    margin: 10px 0;

    width: 100%;
    height: auto;
    min-height: 300px;
    position: relative;
}

.news.jubao-news {
    border: 7px solid var(--main-color) !important;
}

.news-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news .info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.news .info p {
    font: 300 .8em var(--main-font);
    margin-bottom: 5px;
}

.news .info h1 {
    font: normal 1em var(--main-font);
}

.news a {
    color: white;
    text-decoration: none;
}

.more-news-container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.more-news-container a {
    color: white;
    background-image: linear-gradient(to left, var(--main-color) 20%, transparent);
    padding: 3px 10px;
    font: bold 1.3em var(--main-font);
    text-decoration: none;
    text-transform: uppercase;
}

.sponsorship-container {
    background-color: var(--sponsorship-color);
    width: 100%;

    padding: 40px 0;
}

.sponsorship-container h1 {
    font: normal 2em var(--alternative-font);
    text-align: center;
    text-transform: uppercase;
}

.sponsorship-logo-container {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sponsorship-logo-container img {
    display: block;
    width: 30%;
}

@media screen and (min-width: 992px) {
    header {
        background-color: var(--header-color);
    }
    
    .div, .poeiracast-container p, .gradient-background {
        display: none;
    }

    .desktop-container {
        display: flex;
        flex-direction: column;
    }

    .news-jubao-container {
        order: 2;
    }

    .banner-container {
        background: var(--background-color) url(../imagens/desktop/novidades-bg.jpg) no-repeat center center;
        background-size: cover;
        height: 20vw;
    }

    .banner-container img {
        display: none;
    }

    .info-banner-container {
        gap: 30px;
    }

    .text-container .info-main {
        font-size: clamp(1em, 3vw, 2.9em);
    }

    .text-container {
        width: 100%;
    }

    .text-container .info-alternative {
        display: block;
        margin: auto;
        text-align: center;
        font-size: clamp(1em, 1.67vw, 1.8em);
    }

    .buttons-container {
        width: 39vw;
        max-width: 600px;
    }

    .buttons-container a {
        font-size: 1.5em;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }

    .buttons-container a:hover {
        transform: scale(1.05);
    }

    .assista-poeiracast {
        width: 15%;
    }

    .poeiracast-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .slide-video-container {
        gap: 10px;
    }

    .poeiracast-video-container {
        min-width: calc((100% / 3) - 10px);
        justify-content: space-between;
        order: 1;
    }

    .nav-video-buttons-container button {
        width: 35px;
        height: 35px;
        transition: .5s;
    }

    .nav-video-buttons-container button:hover {
        color: var(--main-color);
        background-color: white;
    }

    .prev-video-btn {
        left: 30px;
    }

    .next-video-btn {
        right: 30px;
    }

    .news-container {
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .title-container > h1 {
        font-size: 2.5em;
        background-image: linear-gradient(to right, var(--main-color) 20%, transparent);
        width: fit-content;
    }

    .main-news-desktop, .other-news {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-news-desktop h1 {
        font-size: 1.2em !important;
    }

    .main-news-desktop p {
        font-size: 1em !important;
    }

    .news {
        cursor: pointer;
    }

    .main-news {
        width: 60%;
        height: 50vh;
    }

    .main-news img {
        object-fit: fill;
        object-position: center;
    }

    .secondary-news {
        width: 39%;
        height: 50vh;
    }

    .other-news .news {
        width: 24%;
    }

    .more-news-container a {
        font-size: 2em;
    }

    .more-news-container a:hover {
        text-decoration: underline;
    }

    .sponsorship-logo-container {
        width: 80%;
        margin: auto;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .sponsorship-logo-container img {
        width: calc(100% / 10);
    }
}