@font-face {
    font-family: 'IntroHead';
    src: url(../fonts/IntroRustG-Base2Line.otf) format(opentype);
    font-weight: normal;
}

:root {
    --background-color: #ffe8c6;
    --alternative-color: #140703;
    --dull-color: #d3d3d3;
    --background-album-color: #000000c2;
    --background-album-color-opacity: #00000048;
    --header-color: #FF945E;
    --selected-color: #002fff;

    --main-color: #f25c05;
    --main-color-low-fade: #f25c055b;
    --main-color-high-fade: #f25c05c9;

    --main-font: 'Montserrat', sans-serif;
    --alternative-font: 'Poppins', sans-serif;
    --title-font: 'IntroHead', sans-serif;
    --calendar-font: 'Noto Sans Mono', sans-serif;
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden, .additional-info {
    display: none;
}

body {
    background: var(--header-color) url(/imagens/mobile/pattern-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.light-text {
    font-weight: 300;
}

main {
    background-color: var(--main-color-low-fade);
    min-height: 500px;
    flex: 1;
}

.background-container {
    background: var(--header-color) url(/imagens/mobile/inscricao-bg.jpg) no-repeat center center;
    background-size: cover;
}

.low-fade {
    background-color: var(--main-color-low-fade);
    width: 100%;
    min-height: 150px;
}

.high-fade {
    color: white;
    background-color: var(--main-color-high-fade);

    width: 100%;
    height: auto;
    min-height: 150px;

    padding: 10px 5px;
}

.high-fade h1 {
    font: normal 2em var(--title-font);
}

.high-fade p {
    font: normal 1em var(--main-font);
    line-height: 1.2em;
    text-align: justify;
    hyphens: auto;
}

.filters-container {
    background-color: var(--alternative-color);
}

.months-container {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.option-container {
    width: calc(100% / 3);
    margin: 10px 0;
    position: relative;
}

.option-container span {
    background-color: var(--dull-color);
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: .3s ease-in-out;
}

.option-container h1 {
    color: var(--dull-color);
    text-align: center;
    font: bolder 1.7em var(--calendar-font);
    letter-spacing: 0.05em;
    transition: .3s ease-in-out;
}

.selected span {
    background-color: var(--selected-color);
}

.selected h1 {
    color: var(--selected-color);
}

.error-img {
    margin: auto;
    width: 95vw;
    padding: 15px;
}

.error-img img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.event-container {
    background: var(--background-color) no-repeat center bottom;
    background-size: cover;

    margin: 20px auto;

    width: 90%;
    max-width: 500px;
    min-width: 280px;
    height: 300px;

    display: flex;
    align-items: end;

    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.rally-info-container {
    background-color: var(--main-color-high-fade);
    width: 100%;
    padding: 3px 10px;
}

.event-container h1 {
    color: white;
    font: normal 2em var(--title-font);
}

.event-container h2 {
    color: white;
    font: normal 1.5em var(--title-font);
}

@media screen and (min-width: 992px) {
    .background-container {
        background-image: url(/imagens/desktop/inscricao-bg.jpg);
        display: flex;
    }

    .low-fade {
        width: 65%;
        height: auto;
        min-height: 350px;
    }

    .high-fade {
        width: 35%;
        min-height: 350px;
        padding: 15px 10px;
    }

    .high-fade p {
        margin-top: 10px;
        line-height: 1.3em;
    }

    .months-container {
        max-width: none;
    }

    .option-container {
        width: calc((100% / 7) - 20px);
        cursor: pointer;
    }

    .calendar-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 20px;
    }

    .event-container {
        margin: 20px;
        cursor: pointer;
    }
}