@font-face {
    font-family: 'IntroHead';
    src: url(../fonts/IntroRustG-Base2Line.otf) format(opentype);
    font-weight: normal;
}

:root {
    --background-color: #ffe8c6;
    --main-color: #f25c05;
    --main-color-low-fade: #f25c055b;
    --main-color-high-fade: #f25c05c9;

    --alternative-color: #140703;
    --header-color: #FF945E;
    --news-bg-color: #a5a5a5;
    --form-bg-color: #1c0a03;

    --news-font: 'myriad-pro', sans-serif;
    --main-font: 'Montserrat';
    --alternative-font: 'Poppins';
    --title-font: 'IntroHead';
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

.light-text {
    font-weight: 300;
}

.desktop-text {
    display: none;
}

/**/

.background-container {
    background: var(--background-color) url(../imagens/mobile/portal-noticias-bg.jpg) no-repeat center center;
    background-size: cover;
    height: auto;
}

.low-fade {
    background-color: var(--main-color-low-fade);
    height: auto;
    min-height: 150px;
}

.high-fade {
    color: white;
    background-color: var(--main-color-high-fade);
    height: auto;
    min-height: 150px;
    padding: 10px;
}

.high-fade h1 {
    font: normal 2em var(--title-font);
}

.high-fade p {
    font: normal .8em var(--main-font), sans-serif;
    text-align: justify;
    hyphens: auto;
    margin-top: 10px;
}

main {
    background: var(--background-color) url(../imagens/mobile/news-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    padding: 20px;
}

.title-container {
    background-image: linear-gradient(to right, var(--main-color) 20%, transparent);
    width: fit-content;
    margin-bottom: 15px;
}

.title-container h1 {
    color: white;
    font: bold 2em var(--main-font), sans-serif;
}

.news-container {
    width: 100%;
}

.news {
    width: 100%;
    max-width: 750px;
    margin: 0 auto 15px auto;
    position: relative;
}

.news img {
    width: 100%;
    height: auto;
}

.info {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font: normal 1em var(--news-font), sans-serif;
    text-decoration: none;

    padding: 5px;
    width: 100%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    cursor: pointer;
}

#news-iframe {
    width: 100%;
    height: auto;
    min-height: 800px;
    margin: 10px 0;
}

@media screen and (min-width: 992px) {
    header {
        background-color: var(--main-color);
    }

    .news, .info {
        position: static;
    }

    .desktop-text {
        display: block;
    }

    .background-container {
        display: flex;
    }

    .low-fade {
        min-height: none;
        height: auto;
        width: 70%;
    }

    .high-fade {
        min-height: 400px;
        width: 30%;
    }

    .high-fade p {
        font-size: 1em;
    }

    .news-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .news {
        background-image: linear-gradient(to right, var(--main-color) 50%, rgba(0, 0, 0, 0.63));
        margin: 0;
        width: 49%;
        max-width: none;
        display: flex;
        gap: 10px;
    }

    .news img {
        width: 30%;
        cursor: pointer;
    }

    .news .info {
        background-color: transparent;
        align-self: flex-end;
    }

    .info h1 {
        font-size: 1.5em;
    }
}